<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Create Question</title>
</head>
<body>
    <h2>please create a new question?</h2>
    <form method="post">
        <div>
            <label for="title">Title</label>
            <input name="title" type="text"/>
        </div>
        <div>
            <label for="question">Quesion</label>
            <input name="question" type="text"/>
        </div>
        <div>
            <label for="anwser">Anwser</label>
            <input name="anwser" type="text"/>
        </div>
        <div>
            <button type="submit">Submit question</button>
        </div>
    </form>
</body>
</html>